<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="home" class="header_area">
  <div id="header_navbar" class="header_navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img id="logo" src="assets/images/logo.svg" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="page-scroll active" (click)="setTitle('Malavika Mohanan Website')" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('About Malavika')" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('Malavika Movies')" href="#movies">Movies</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('Malavika Gallery')" href="#portfolio">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('Malavika Team')" href="#team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('Malavika Updates')" href="#updates">Updates</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" (click)="setTitle('Contact Malavika')" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(assets/images/dp.jpg)">
      <div class="container pt-190">
        <h2 class="H3 pt-4">Hi Everyone,</h2>
        <h4 class="H3 pt-3">Welcome to the Official Website Of Malavika Mohanan Fans</h4>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="hero_content text-center">
              <!-- <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Angular 12 Bootstrap 5<br /> Website Template</h2> -->
              <!-- <h4 class="wow fadeInUp mt-4" style="color: white;" data-wow-duration="1.3s" data-wow-delay="0.5s">Welcome
                to the official website of Malavika Mohanan Fans</h4> -->
              <!-- <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Wish
                Malavika Mohanan </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="features" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Happy Birthday!</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">May this day brings you lot of happy
            moments in your life & may all your dreams come true. May god bless you. We all the fans wishing you a super
            cool year ahead & a wonderfull Happy Birthday Malavika Ma'am </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="single_form text-center">
          <button class="main-btn" data-toggle="modal" data-target="#myModal-effect-zoomIn" style="border-radius: 28px;" type="submit">Click to Wish Malavika</button>
        
          <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button> -->
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  hello
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!--  -->

          <div class="modal fade" id="myModal-effect-zoomIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     
                  </div>
                  <div class="modal-body">
                     <img width="80%" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/172203/IMG_3497.JPG" alt="" />
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
               </div>
            </div>
         </div>

        </div>
      </div>
    </div>
  </div>
</section>




<section id="about" class="pt-130">
  <div class="about_area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_content pt-120 pb-130">
            <div class="section_title pb">
              <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">About Malavika Mohanan</h4>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Malavika Mohanan is an Indian
                actress and model who works predominantly in Malayalam and Tamil language films. The daughter of
                cinematographer K. U. Mohanan, Malavika made her acting debut with the romantic drama Pattam Pole
                opposite Dulquer Salmaan</p>
              <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Malavika is one of the most
                valuable south indian actress.Malavika is known as <b>"Dazzling Queen Of South India"</b>. Malavika is so popular across kerala & Tamil Nadu with her recent works.</p>
            </div>
            <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
      style="background-image: url(assets/images/1.webp)">
      <div class="image_content">
        <h4 class="experience"><span>9</span> Years of Malavikasam</h4>
      </div>
    </div>
  </div>
</section>


<section id="movies" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Malavika Movies</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Malavika Mohanan is an indian actress
            who has been working in film industry since last 9 years.</p>
        </div>
      </div>
    </div>

    <div id="#content-mobile" class="mobile" style="background-color:white;">
      <div class="row m-2">
        <div class="col-lg-12 text-center mt-5">
          <div class="row">
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/pattam.webp" alt="pattam pole" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/nir.webp" alt="nirnayakam" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/naan11.webp" alt="nmv" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/great.webp" alt="the great father" style="width:100%;height: auto;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/beyond1.webp" alt="beyond the clouds" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/petta11.webp" alt="petta" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/master11.webp" alt="master" style="width:100%;height: auto;">
              </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/d43.jpg" alt="d43" style="width:100%;">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 mb-2">
              <div class="card">
                <img src="/assets/images/yudra.jpg" alt="yudra" style="width:100%;height: auto;">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container desktop" id="#content-desktop">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="Slider" width="100%" height="496px" class="sld">
      </div>
    </ngx-slick-carousel>
  </div>


</section>


<section id="portfolio" class="portfolio_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-60">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Portfolio</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio_wrapper d-flex flex-wrap">
    <div *ngFor="let photos of portfolio" class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="{{photos.img}}" alt="portfolio">
    </div>
    <!-- <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/malavika3.jpeg" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/malavika1.jpeg" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/malavika.jpeg" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <img src="assets/images/3.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
      <img src="assets/images/14.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
      <img src="assets/images/5.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/3.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
      <img src="assets/images/3.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
      <img src="assets/images/5.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
      <img src="assets/images/14.webp" alt="portfolio">
    </div>
    <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
      <img src="assets/images/5.webp" alt="portfolio">
    </div> -->
  </div>
</section>



<section class="pt-120">
  <div class="counter-up">
    <div class="content">
      <div class="box">
        <div class="icon"><i class="fas fa-users"></i></div>
        <div class="counter">5652028</div>
        <div class="text">Social Media Followers</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-eye"></i></div>
        <div class="counter">324</div>
        <div class="text">Visits</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-film"></i></div>
        <div class="counter">10</div>
        <div class="text">Films</div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-award"></i></div>
        <div class="counter">6</div>
        <div class="text">Awards Received</div>
      </div>
    </div>
  </div>
</section>



<section id="team" class="team_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Meet Our Team</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center team_active">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img src="assets/images/team-1.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">Sarang Rajan.</a></h4>
            <p>Head Of Ideas</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <img src="assets/images/team-2.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">Bhuvi.</a></h4>
            <p>UX Designer</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <img src="assets/images/team-3.jpg" alt="team">
          <div class="team_content">
            <h4 class="team_name"><a href="#">Rahul Panoli.</a></h4>
            <p>Creative Designer</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover"
  style="background-image: url(assets/images/fans.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="glide testimonial_active">
          <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/sarangrajan.png" class="imager" alt="author">
                <h5 class="author_name">Sarang Rajan</h5>
                <span>Kerala, India</span>
                <p>Hai Mam it's me Sarang.You don't have any idea how much i adore you since after watching pattam pole and after watching each movie of yours i was witensing your growth and acting skill.I truly believe that you have a great potential & you will be a asset for indian film industry & i wish you all the best for upcoming movies.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/melwin.png" class="imager" alt="author">
                <h5 class="author_name">Melwin Jose</h5>
                <span>Kerala, India</span>
                <p>Malavika mam your damn beautiful & have great potential to do lady oriented movies. If u give equal
                  importance to all languages across india in very short span of time u will be pan indian actress. As
                  Always , Bold & Beautiful 💓
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/vr.png" class="imager" alt="author">
                <h5 class="author_name">VR</h5>
                <span>India</span>
                <p>I wish I could explain how your eyes gives me butterflies and how your smile makes my heart skip a
                  beat 😍🤷🏽‍♂️. You're an absolutely gorgeous woman with so much of talent. I hope you nurture them
                  well and become a
                  renowned versatile actor 🙌🏼. Wishing you all the very best in your future endeavours and more and
                  more mainstream success in
                  forthcoming years. With love,
                  VR
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/balaji.png" class="imager" alt="author">
                <h5 class="author_name">Balaji</h5>
                <span>India</span>
                <p>Hi Mam, When I Watched Petta Movie I Liked Ur Character So Much & I Became Ur Fan Waited For Ur Next
                  Flick Instanty With Surprise You Paired Up With Vijay Anna And Liked The Role Of Charu You Can Surely
                  Balance The Capablity Of Homely & Hotness Roles Awaiting For Ur Next Flick D43 Best Wishes And Love U
                  Lots Mam
                  ~With Love Your Forever Fan Balaji.G
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/vinoth.png" class="imager" alt="author">
                <h5 class="author_name">Vinoth</h5>
                <span>India</span>
                <p>Hi Malavika Mam,U was favourite to me from petta movie with ur sparking eyes, and smile from Master
                  which haults my heart 😍🤷🏽‍♂️.
                  You're an Gem for industry & hope for an grt future as renowned versatile actor !!
                  With love, Vinoth
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/upender.png" class="imager" alt="author">
                <h5 class="author_name">Upender</h5>
                <span>India</span>
                <p>The most ethereal and purehearted woman who deserves nothing but the best in this world,
                  Malavika is not only beautiful & cute but hot at the same time 🔥🔥🙌
                  A very rare trio of Hotness , cuteness & beauty in our South industry 🔥🙌
                  Wishing her bright future from Telugu Fans ❤🤗
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/Ridhu.png" class="imager" alt="author">
                <h5 class="author_name">Ridhu</h5>
                <span>Kerala, India</span>
                <p>From pattam pole one beautyfull bae come to my wallpaper ❣️ & then great father film you have been
                  entered in my heart 💓 & then after watching master mam is my Heart beat 💫love malavika mam 💋 my
                  life💓
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/sreeharii.png" class="imager" alt="author">
                <h5 class="author_name">Sreehari</h5>
                <span>Kerala, India</span>
                <p>I'm a big fan of Malavikamohanan mam. Have seen all your movies from 'Pattampole'. You are so
                  talented. Hoping to see on-screen again soon. Eagerly waiting for Yudhra. All best wishes for upcoming
                  projects & future.
                </p>
              </div>
              <div class="glide__slide single_testimonial text-center">
                <img src="assets/images/arjun.png" class="imager" alt="author">
                <h5 class="author_name">Arjun</h5>
                <span>Karnataka, India</span>
                <p>Malavika Madam Is A Good Person And Cute Acting
                  , Is A Good Sweet And Kind Hearted Person.
                  Madam Acting Is Nice And I Saw Malavika Mohanan Films Pattam Pole Petta Master Great Father
                  Malavika Mohanan Madam Acting Is Cute And Future Malavika Madam Can Be A Model Also
                  Waiting For Malavika Mohanan Madam Upcoming Movies
                  And Wishes All The Best For The Upcoming Movies And Future</p>
              </div>
            </div>
          </div>
          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
            <button class="glide__bullet" data-glide-dir="=3"></button>
            <button class="glide__bullet" data-glide-dir="=4"></button>
            <button class="glide__bullet" data-glide-dir="=5"></button>
            <button class="glide__bullet" data-glide-dir="=6"></button>
            <button class="glide__bullet" data-glide-dir="=7"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="updates" class="blog_area pt-120 pb-10">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Recent Updates</h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Malavika Mohanan had made a initiate to
            help wayanad poor students with sending laptops and mobiles.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="single_blog mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="blog_image">
            <img src="assets/images/vaccine.webp" alt="blog">
          </div>
          <div class="blog_content">
            <h3 class="blog_title"><a href="#">Malavika Mohanan get vaccinated at Mumbai,She has shared it through her
                official Insta handle.</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
              dolore.Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
              dolore magna .Lorem ipsum dolor sit amet, consetetur sadipscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="blog_image">
            <img src="assets/images/malavikalanch.jpg" alt="blog">
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Malavika Mohanan Shared Her Official Fans Website.</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
        <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
          <div class="blog_image">
            <img src="assets/images/maal.jpg" alt="blog">
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Malavika Mohanan gets an opporchunity in tollywood<br> with Mahesh Babu
                .</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
        <div class="single_blog blog_2 d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <div class="blog_image">
            <img src="assets/images/malavikasarang.png" alt="blog">
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Malavika wish her fanboy happy birthday!! .</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-80">
      <div class="col-lg-1 mb-4"></div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="fb-page" data-href="https://www.facebook.com/mohananmalavika/" data-tabs="timeline"
            data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/mohananmalavika/" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/mohananmalavika/">Malavika Mohanan</a></blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-2 mb-4 "></div>
      <div class="col-lg-4 mb-4">
        <div class="card ">
          <a class="twitter-timeline" data-width="600" data-height="500" data-theme="light"
            href="https://twitter.com/MalavikaM_?ref_src=twsrc%5Etfw">Tweets by MalavikaM_</a>
          <script defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="col-lg-1 mb-4"></div>
    </div>
  </div>
</section>

<section id="updates" class="features_area pt-120 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Malavika Mohanan Fanscorner
          </h4>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Hi all, Welcome to Malavika Mohanan
            Fans Space. We are here to provide all the latest updates about Malavika. Join in our fans space just now
            itself...</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <i class="lni lni-whatsapp"></i>
          <h4 class="features_title">Whatsapp Community</h4>
          <p>Join in our whatsapp group for to get latest updates of Malavika Mohanan.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
          <a href="https://m.facebook.com/groups/2290013874552686?view=info&sfd=1">
            <i class="lni lni-facebook-original"></i>
            <h4 class="features_title">Facebook Community</h4>
            <p> Join in our facebook group for to get latest updates of Malavika Mohanan. </p>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
          <a href="https://t.me/MalavikaMohananupdates">
            <i class="lni lni-telegram"></i>
            <h4 class="features_title">Telegram Community</h4>
            <p>Join in our telegram group for to get latest updates of Malavika Mohanan. </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title section_title_2 text-center pb-25">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contact Us</h4>
          <p class="wow fadeInUp " data-wow-duration="1.3s" data-wow-delay="0.4s">If you have any enquires contact us
            through <a class="H3" href="https://mail.google.com/mail/u/0/#inbox?compose=new">
              Infomalavikamohanan@gmail.com Teammalavikamohanan@gmail.com </a></p>
        </div>
      </div>
    </div>
    <form id="contact-form" action="https://formsubmit.co/infomalavikamohanan@gmail.com" method="POST"
      class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
      <div class="row">
        <input type="hidden" name="_next" value="https://malavikamohanan.in/thanks.html">
        <input type="hidden" name="_cc" value="sarangrajan948@gmail.com">
        <input type="hidden" name="_template" value="table">
        <input type="hidden" name="_captcha" value="false">
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Name" name="name" id="name" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="email" placeholder="Email" name="email" id="email" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Phone Number" name="number" id="number" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Subject" name="subject" id="subject" required>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="single_form">
            <textarea placeholder="Message" name="message" id="message" required></textarea>
          </div>
        </div>
        <p class="form-message"></p>
        <div class="col-lg-12">
          <div class="single_form text-center">
            <button class="main-btn" style="border-radius: 50px;" type="submit">SUBMIT</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


<footer id="footer" class="footer_area">
  <div class="container">
    <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
      <p class="credit"> &copy;Copyright 2021 All Right Reserved by <a href="https://teamclusters.com/"
          rel="nofollow">Team Clusters</a>
      </p>
      <div class="footer_social pt-15">
        <ul>
          <li><a href="https://www.facebook.com/mohananmalavika"><i class="lni lni-facebook-original"
                title="Facebook"></i></a></li>
          <li><a href="https://twitter.com/MalavikaM_?"><i class="lni lni-twitter-original" title="Twitter"></i></a>
          </li>
          <li><a href="https://www.instagram.com/malavikamohanan_"><i class="lni lni-instagram-original"
                title="Instagram"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCDsMJpDxG-XHTg2itFped8w"><i class="lni lni-youtube"
                title="Youtube"></i></a></li>
          <li><a href="https://wa.link/zzxa5q"><i class="lni lni-whatsapp" title="Whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>
